

services:
  postgresql:
    image: postgres:17-alpine
    container_name: certis-postgresql # WAS가 찾을 컨테이너 이름
    env_file:
      - ./BE/.env.prod
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          memory: 1G  #DB 메모리 사용량 제한
    restart: unless-stopped
    command: postgres -c max_connections=200 -c shared_buffers=128MB

# Redis 요소 삭제 (외부 인스턴스 활용)
# PgAdmin (보류)

networks:
  app-network:
    external: true # 이미 존재하는 app-network 에 연결
    name: app-network